<div id="<%= dom_id report %>">
  <p>
    <strong>User:</strong>
    <%= report.user_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= report.department_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= report.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= report.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= report.end_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= report.location %>
  </p>

  <p>
    <strong>Task description:</strong>
    <%= report.task_description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= report.quantity %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= report.remarks %>
  </p>

  <p>
    <strong>Customer feedback:</strong>
    <%= report.customer_feedback %>
  </p>

  <p>
    <strong>Optional note:</strong>
    <%= report.optional_note %>
  </p>

</div>
